@font-face {
    font-family: 'Main';
    src: url('./Press_Start_2P/PressStart2P-Regular.ttf') format('truetype'); /* Adjust the path and font format as needed */
    font-weight: normal;
    font-style: normal;
  }